<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="Suite" parallel="tests">
    <test name="FirstTest">
        <parameter name="browser" value="firefox"/>
        <parameter name="platform" value="WINDOWS"/>
        <classes>
            <class name="FirstTest"/>
        </classes>
    </test> <!-- First Test -->
    <test name="SecondTest">
        <parameter name="browser" value="firefox"/>
        <parameter name="platform" value="WINDOWS"/>
        <classes>
            <class name="SecondTest"/>
        </classes>
    </test> <!-- Second Test -->
</suite> <!-- Suite -->