<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests" >
    <listeners>
        <listener class-name="WebDriverListener"></listener>
    </listeners>
    <test name="Test1">
        <parameter name="browserName" value="firefox"></parameter>
        <classes>
            <class name="Test1"/>
        </classes>
    </test> <!-- First Test -->
    <test name="Test2">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test2"/>
        </classes>
    </test> <!-- First Test -->
</suite> <!-- Suite -->
