<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" >
    <test name="com.FirstTest" parallel="methods" thread-count="5">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.FirstTest">
                <methods>
                    <include name="GOOGLE0" />
                    <include name="GOOGLE2" />
                </methods>
            </class>
        </classes>
    </test> <!-- First Test -->
    <test name="com.SecondTest"  parallel="methods" thread-count="4">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.SecondTest">
                <methods>
                    <include name="GOOGLE1" />
                </methods>
            </class>
        </classes>
    </test> <!-- Second Test -->
</suite> <!-- Suite -->